SystemButtonsTextColor
1.0
TopLineTextColor
1.0
TimeTextColor
1.0
ControlPanelButtonsColor
32.0
TopLineActiveColor
32768.0
SystemButtonsColor
128.0
SystemEditsBackgroundColor
1.0
WindowColor
256.0
WindowBorderColor
32768.0
ControlPanelPowerButtonColor
16384.0
SystemLabelsTextColor
32768.0
TopLineInactiveColor
128.0
ControlPanelColor
8192.0
